
.page-title{
  display:block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container{
  width: 400px;
  margin:auto;
  background-image:linear-gradient(pink, aquamarine); 
  padding: 10px;
  border-radius: 1rem;
}




body,button{
  background-image: linear-gradient(pink, aquamarine);
}

Button{
  color: aqua;
}